@{
    ViewData["Title"] = "Conferma mail e password";
   
}

    <div class="wrapper">
        <div class="container-fluid" id="top-container-fluid-nav">
            <div class="container">
                <!---- for nav container ----->
            </div>
        </div>
        <div class="container-fluid" id="body-container-fluid">
            <div class="container">
                <div class="jumbotron" style="background-color:transparent">
                    <h1 class="display-1"><i class="fas fa-clipboard-check fa-2x"></i></h1>               
                    <h2 style="font-weight:bold;font-size:22pt;margin-top:40px" class="display-3">Conferma email e cambio password effettuati. Grazie <a asp-controller="Home" asp-action="Index">prosegui</a>.</h2>
                </div>
            </div>
        </div>
    </div>


   

