@{
    ViewData["Title"] = "Sessione Interrotta";    
}


    <div class="wrapper">
        <div class="container-fluid" id="top-container-fluid-nav">
            <div class="container">
                <!---- for nav container ----->
            </div>
        </div>
        <div class="container-fluid" id="body-container-fluid">
            <div class="container">
                <div class="jumbotron" style="background-color:transparent">
                    <h1 class="display-1"><i class="fa fa-sync fa-spin fa-2x"></i></h1>
                    <h2 style="font-weight:bold;font-size:26pt;margin-top:40px" class="display-3">La sessione di lavoro di questo account è stato automaticamente chiusa, per favore prova ad accedere di nuovo.</h2>
                </div>
            </div>
        </div>
    </div>
