@import "common/footer.css";
@import "common/error.css";


html, body { 
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    position: relative;    
    margin-bottom: 100px;
}


.nav-link {
    color: white;
}

.nav-item {
    list-style-type:none;
}

.list-group-item
{
    border:none;
}

.awesomefonts {
    float: left;
}

    .awesomefonts li {
        list-style: none;
        float: right;
        margin-left: 15px;
    }


.icon-c-logo {
    background-image: url('../css/images/c-logo.svg');
    font-size: 20px;
    color: #0591e5;
}