@import "../common/menu.css";
@import "../font-awesome/all.css";

.bg-dark
{
    background-color: #54272F!important;
}

#sezionediv {
    margin-top: 20px; font-size: smaller;
    border: 1px #6d353a solid;padding-left: 0px;padding-right: 0px;
}
.fa{font-size:1.7rem;margin-right:5px}
.row-first{margin-bottom:10px;margin-top:8px}
.title-contact{margin-top:32px;
    font-size: 2.0rem;}
.contact-email {font-size: 1rem }
a{transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease}
.quick-contact{color:#fff;background-color:#54272F;);text-align:center}
.contact a{-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;display:block;background-color:rgba(255,255,255,0.25);
    font-size: 1rem;text-align:center;color:#fff;padding:7px}
.contact a:hover{background-color:rgba(255,255,255,0.85);text-decoration:none}
.contact a.skype:hover,.fa-skype{color:#00aff0}
.contact a.google:hover,.fa-google-plus{color:#dd4b39}
.contact a.linkedin:hover,.fa-linkedin{color:#0e76a8}
.contact a.twitter:hover,.fa-twitter{color:#00acee}

h5.card-title {
    color: #6d353a;
}

.sezione-title img {
    float: left;
    width: 70px;
    height: 70px;
    background: transparent;
    margin-left: 90px;
}

.sezione-title h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-size: 1.8rem;
}
.capitolium {
    background-color:#6D353A!important;
    color: white;
}
.table.dataTable
{
    font-size: 0.9rem;
    border-radius: 6px;
}

tr.odd {
    font-weight: bold;
    text-align: left;
}
tr.even
{
    font-weight: bold;
    text-align: left;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #6D353A!important;
    border-right:  1px solid #6D353A!important;
    border-left:   1px solid #6D353A!important;
    border-radius: 6px;
}

.bg-dark
{
    background-color:#6D353A!important;
}

.delta_services {
    padding: 40px 20px 80px;
    border-radius: 6px;
    background-color: #6d353a;
    margin-top: 20px;
}


.delta_dati{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.delta_services a
{
    color: white;
}
.delta_services a:hover  {
    color: #E6E6E6;
}


.table-riepilogo td, .table-riepilogo th
{
    border-top: 1px solid #6D353A!important;
    color: #6D353A!important;
}

.table-riepilogo thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #6D353A!important;
}
