.submit_btn {
    border-radius: 15px !important;
    background-color: #490303 !important;
    border: 0 !important;
    font-size: 1rem;
}

input {
    border-radius: 0 15px 15px 0 !important;
}

    input:focus {
        outline: none;
        box-shadow: none !important;
        border: 1px solid #ccc !important;
    }

ul {
    list-style: none;
    text-align: center;
    vertical-align: text-bottom;
    width: 750px;
    font-size: medium;
    line-height: 6px;
}
