<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GovApp</title>   
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/css/images/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/css/images/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/css/images/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/css/images/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/css/images/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/css/images/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/css/images/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/css/images/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/css/images/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="~/css/images/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/css/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/css/images/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/css/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="~/css/images/favicon/manifest.json" />
    <link rel="manifest" href="~/css/images/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/css/images/favicon/ms-icon-144x144.png" />
    @RenderSection("Css", required: false)
</head>
<body>   
    <div id="app">
        <sidebar></sidebar>
        @RenderBody()
    </div>
    <section class="absolute" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-git"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p class="h6">&copy Tutti i diritti riservati.<a class="text-white ml-2" href="" target="_blank">N.R. Creations</a></p>
                </div>
            </div>
        </div>
    </section>
    <script src="~/dest/js/app.bundle.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
